.conteiner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

input, textarea { 
    border-radius: 10px;
    background-color: #555555;
    width: 100%;
}

.button { 
    background-color: white; 
    color: black; 
    border: 2px solid #555555;
    text-align: center;
}

button {
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: auto;
    width: 100px;
    height: 35px;
    transition: 2s linear 1s;
    transition-duration: 2s;
}

button:hover {
    /* width: 100%; */
    background-color: #555555;
    color: white;
}
